*.iml
.gradle
build/
/local.properties
.DS_Store
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/**
!/.idea/inspectionProfiles/
!/.idea/inspectionProfiles/**
!/.idea/runConfigurations/
!/.idea/runConfigurations/**
.kotlin